/**
 * @file
 * Default styling for YAYB module
 */

.block-yayb a,
.block-yayb a:link,
.block-yayb a:visited {
  color: inherit;
}

.block-yayb > div {
  margin: 0 auto;
  padding: 1em;
}

#edit-yayb-severity label.option > span {
  display: inline-block;
  min-width: 8em;
  margin-left: 3px;
  text-align: center;
}

.yayb-info {
  color: #000;
  background-color: #6bc0eb;
}

.yayb-notice {
  color: #000;
  background-color: #80eb6f;
}

.yayb-important {
  color: #000;
  background-color: #ff0;
}

.yayb-major {
  color: #000;
  background-color: #ff8000;
}

.yayb-major > div {
  margin: 1em auto;
  border: 4px solid #000;
}

.yayb-critical {
  color: #fff;
  background-color: #b40000;
}

.yayb-critical > div {
  margin: 1em auto;
  border: 4px double #fff;
}
